@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
/*font-family: 'Piazzolla', serif;*/
/*RESETS*/
:root {
  background-color: #f1f1f1;
  font-size: 62.5%;
  font-family: 'Piazzolla', serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #282828;
}
a {
  text-decoration: none;
}
/*PREDEFINED STYLE CLASSES*/
.hidden {
  display: none;
}


/*PAGE CONTENT*/

#navbar ul {
    margin:1rem;
    margin-top: 10rem;
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar ul li {
    margin: 0 0.5rem;
}
#content {
    margin: auto;
    max-width:80rem;
    border: 0.1rem solid;
    border-radius: 0.3rem;
    display:flex;
    align-items: flex-start;
    justify-content:center;
}   
.card {
  margin:1rem;
  background-color: white;
  display:flex;
  flex-direction: column;
  border-radius: 0.3rem;
}
.card-bottom {
  display:flex;
  justify-content: space-between;
}
.favorite {
  font-size: large;
  margin:0.5rem;
}
.favorite:hover{
  cursor: pointer;
}
.fa-star:before{color: red} 
#preview-link {
  margin: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border: 0.05rem solid;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
#preview-link:hover{
  cursor: pointer;
}


#details {
  flex-grow: 2;
  padding: 1rem;
  
}

#details h1{
  font-size:3rem
}
#details #authors{
  font-size:2rem;
  margin-bottom: 1.5rem;
}
#details #description {
  border-top: 0.1rem solid;
  border-bottom: 0.1rem solid;
  padding: 1rem 0;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
#details section:last-child {
  padding: 1rem 0;
  font-size:1.2rem;
}