@keyframes spin {
	0% {
		transform: translate(-50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%) rotate(360deg);
	}
}
@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
/*font-family: 'Piazzolla', serif;*/
/*RESETS*/
:root {
  background-color: #f1f1f1;
  font-size: 62.5%;
  font-family: 'Piazzolla', serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #282828;
}
a {
  text-decoration: none;
}
/*PREDEFINED STYLE CLASSES*/
.hidden {
  display: none;
}


/*PAGE CONTENT*/

#root{
  width: 100vw;
  text-align: center;
  
}
#app {
  height: 80%;
  position: relative;
}
html {
  background: url(src/imgs/books.png) left top repeat-x, url(src/imgs/bg.jpg) left no-repeat;
  background-size: 27rem, cover;
}
body {
  background: beige!important;
}
#navbar {
  margin: 3rem 0 2rem;
}
#navbar ul {
  margin:1rem;
  margin-top: 15rem;
  list-style-type: none;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar ul li {
  margin: 3rem;
}
#navbar ul li a{
  color: beige;
  font-size: 2.5rem;
  text-shadow: -1px -1px 1px #575102, 1px 1px 1px #575102, 
  1px -1px 1px #575102, -1px 1px 1px  #575102, 
  -1px -1px 2px #575102, 1px 1px 2px #575102, 
  1px -1px 2px #575102, -1px 1px 2px #575102;
}
#search-bar {
  background: gray;
  display: flex;
  justify-content: center;
  width: auto;
  WIDTH: 40rem;
  margin: auto;
}
#text-input {
  font-size: 1.6rem;
  width: 60%;
  border: 0.3rem inset #888;
  box-shadow: inset 0.1rem 0.1rem 0.1rem 0 rgba(0,0,0,0.75);
}
#enter {
  background-color:green;
  width: 40%;
  font-size: 1.6rem;
  color: white;
}


#book-stack h1 {
  margin:1rem;
  font-size: 3rem;;
}
#bookcase {
  margin: auto;
  max-width: 80rem;
  border: 0.1rem solid;
  border-radius:0.3rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  
}
#loader {
  margin: auto;
  /* margin-top: 30vh; */
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: 1rem solid white;
	border-top-color: black;
	border-bottom-color: black;
  animation: spin 2s linear infinite;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#div-placeholder {
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card {
  margin:1rem;
  background-color: white;
  display:flex;
  flex-direction: column;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.75);
}
.card-bottom {
  display:flex;
  justify-content: space-between;
}
.favorite {
  font-size: large;
  margin:0.5rem;
}
.favorite:hover{
  cursor: pointer;
}
.fa-star:before{color: red}

.details {
  margin: 0.1rem;
  font-size: large;
  border: 0.05rem solid;
  border-radius: 0.3rem;
  padding: 0.1rem;
  background: rgb(97,90,9);
background: linear-gradient(0deg, rgba(97,90,9,1) 0%, rgba(255,239,0,1) 44%, rgba(252,238,32,1) 78%, rgba(226,214,129,1) 100%);
}
.details:hover{
  cursor: pointer;
}